<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd" version="2.5">

    <filter>
        <display-name>AuthFilter</display-name>
        <filter-name>AuthFilter</filter-name>
        <filter-class>servlet.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <session-config>
        <session-timeout>20</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.register.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/assertion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>servlet.register.AccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.register.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.register.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletDispatcher</servlet-name>
        <servlet-class>servlet.ServletDispatcher</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDispatcher</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConsultServlet</servlet-name>
        <servlet-class>servlet.consult.Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConsultServlet</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>OwnerServlet</servlet-name>
        <servlet-class>servlet.consult.OwnerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OwnerServlet</servlet-name>
        <url-pattern>/owner</url-pattern>
    </servlet-mapping>
</web-app>
